@model AplicacionParaBiblioteca.Model.HistorialDePrestamos





<div>
    <h4>Se ha guardo con exito el Historial</h4>
 
    
</div>
<div>
  
    <a asp-action="Index">Regresar al menu principal</a>
</div>
