@model AplicacionParaBiblioteca.Model.HistorialDePrestamos

@{
    ViewData["Historial del Libro"] = "InformacionDeNoHistorial";
}

<h1>No hay datos de historial relacionado con este Libro</h1>

<div>
  
    <a asp-action="Index">Regresar al menu principal</a>
</div>
